* {
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
    color          : inherit !important;
    display        : inline-block !important;
}

// ----------font------------
@font-face {
    font-family: iran;
    src        : url(font/FontsFree-Net-ir_sans\ \(1\).woff);
}

// ----------font------------


body {
    margin     : 0;
    overflow-x : hidden;
    overflow-y : visible !important;
    font-family: iran;
}

// -----------colors----------------
$blue      : #2e134a;
$background: #FDFDFD;
$gray      : #E3E3E3;
$light-blue: #2e134aad;
// -----------colors----------------



// ---offcanvas nav----

section#offcanvas {
    width           : 260px;
    height          : 100vh;
    background-color: $gray;
    position        : fixed;
    right           : -260px;
    transition      : .5s ease;

    &.navIsOpen {
        right: 0;
    }
}

main {
    width     : 100%;
    transition: .5s ease;

    &.navIsOpen {
        transform: translatex(-260px);
    }

    div#top-header {
        border-bottom   : 1px rgba(255, 255, 255, 0.712) solid;
        background-color: $blue;
    }

    header {
        background-color: $blue;
        position        : sticky;
        top             : 0;
        z-index         : 300;

        &.active {
            box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.493);
        }

        div.container {


            display        : flex;
            justify-content: space-between;
            align-items    : center;



            div.right {
                width: 90%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                div#headersearch {
                    position  : relative;
                    text-align: left;

                    button#srchbtn{
                        display         : inline-flex;
                        justify-content : center;
                        align-items     : center;
                        width           : 25px;
                        height          : 25px;
                        border-radius   : 50%;
                        color           : white;
                        border          : white 1px solid;
                        font-size       : .8em;
                        background-color: transparent;
                    }

                    input#srchform {
                        height    : 30px;
                        position  : absolute;
                        bottom    : -35px;
                        left      : 0;
                        opacity   : 0;
                        transition: .3s;

                        &.isOpen {
                            opacity: 1;
                        }
                    }
                }
                nav {
                    font-weight: 600;
                    font-size  : .9em;

                    div.cdropdown {
                        font-size: .9em;
                        display  : inline-block;
                        position : relative;
                        z-index  : 200;

                        &:hover .cdropdowncontent {
                            opacity  : 1;
                            transform: translateY(0);
                        }

                        >a {
                            position: relative;
                            padding : 15px 30px;
                            color   : white !important;

                            &::after {
                                content         : "";
                                background-color: $light-blue;
                                height          : 3px;
                                position        : absolute;
                                bottom          : -5px;
                                transform       : translateX(50%);
                                right           : 50%;
                                margin-bottom   : 10px;
                                width           : 0;
                                transition      : ease .4s;
                            }
                        }

                        &:hover>a::after {
                            width: 100%;
                        }

                        div.cdropdowncontent {
                            position        : absolute;
                            background-color: white;
                            display         : flex;
                            justify-content : flex-start;
                            align-items     : flex-start;
                            flex-direction  : column;
                            opacity         : 0;
                            width           : 150%;
                            transition      : .3s;
                            transform       : translateY(-90%);

                            a {
                                padding: 10px 20px;

                                &:hover {
                                    text-decoration: underline !important;
                                }

                                i {
                                    margin-left: 6px;
                                }
                            }
                        }
                    }
                }
            }

            div.left {
                width: 10%;

              
            }
        }
    }

    section#news {
        background-image: linear-gradient(to bottom, $blue, $light-blue);
        padding-bottom  : 50px;
        padding-top     : 70px;

        div.container {
            div.tabbtns {
                text-align   : center;
                margin-bottom: 40px;
                button {
                    border          : none;
                    background-color: transparent;
                    border          : 1px white solid;
                    padding         : 15px 40px;
                    font-size       : .9em;
                    margin          : 0 5px;
                    border-radius   : 40px;
                    color           : white;
                    transition      : .3s;

                    &.isactive {
                        background-color: white;
                        color           : $blue;
                    }
                }
            }

            div.tabcontent {

                display: none;

                &.isactive {
                    display: flex;
                }

                justify-content: space-between;
                align-items    : center;

                div.slide-show {
                    width: 46%;
                    border-radius: 15px;
                    overflow: hidden;
                    div.carousel-caption.d-none.d-md-block {
                        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.801), transparent);
                        bottom          : 0;
                        width           : 100%;
                        left            : 0;
                        right           : 0;
                        padding         : 2em 0;

                        p {
                            margin: 0;
                        }
                    }
                }

                div.textnews {
                    width: 50%;

                    div.card {
                        display         : flex;
                        justify-content : flex-start;
                        align-items     : center;
                        flex-direction  : row;
                        background-color: #D7E6F4;
                        border          : none;
                        margin          : 10px 0;
                        height          : 110px;
                        padding-right   : 15px;
                        border-radius: 15px;
                        div.left {


                            p.light {
                                font-size    : .7em;
                                color        : #323a42a2;
                                margin-bottom: 5px;
                            }

                            p.bold {
                                font-size  : .8em;
                                font-weight: 600;
                                color      : #1a2c3f;
                            }


                        }

                        div.right {
                            width      : 140px;
                            margin-left: 20px;

                            img {
                                width     : 100%;
                                height    : 85px;
                                object-fit: fill;

                            }
                        }
                    }
                }

                &#servicetable{
                    a{
                        width: 20%;
                        div.card{
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            padding: 1em 0;
                            background-color: rgba(255, 255, 255, 0.767);
                            color: $blue;
                            transition: .3s;
                            &#cardselected{
                                padding: .45em 0;
                            }
                            &:hover{
                                background-color: white;
                            }
                            img{
                                width: 50%;
                                margin-bottom: 2em;
                            }
                        }
                    }
                }
            }
        }
    }

    section#nashr {
        background-color: $background !important;
        padding         : 40px 0;

        div.container {
            display        : flex;
            justify-content: space-between;
            align-items    : flex-start;

            /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
            .flip-card {
                background-color: transparent;
                width           : 300px;
                height          : 200px;
                border          : 1px solid #f1f1f1;
                perspective     : 1000px;
                /* Remove this if you don't want the 3D effect */
            }

            /* This container is needed to position the front and back side */
            .flip-card-inner {
                position       : relative;
                width          : 100%;
                height         : 100%;
                text-align     : center;
                transition     : transform 0.8s;
                transform-style: preserve-3d;
                border-radius: 15px;
            }

            /* Do an horizontal flip when you move the mouse over the flip box container */
            .flip-card:hover .flip-card-inner {
                transform: rotateY(180deg);
            }

            /* Position the front and back side */
            .flip-card-front,
            .flip-card-back {
                position                   : absolute;
                width                      : 100%;
                height                     : 100%;
                -webkit-backface-visibility: hidden;
                /* Safari */
                border-radius: 15px;
                backface-visibility        : hidden;
            }

            /* Style the front side (fallback if image is missing) */
            .flip-card-front {
                background-color: #bbb;
                color           : black;
            }

            /* Style the back side */
            .flip-card-back {
                background-color: $blue;
                padding-top     : 40px;
                color           : white;
                transform       : rotateY(180deg);
            }

            div.tabnews {
                width           : 400px;
                background-color: #E3E3E3;
                border-radius: 15px;
                overflow: hidden;
                .tabheading {
                    border-bottom  : 1px solid $blue;
                    display        : flex;
                    justify-content: flex-start;

                    button {
                        background-color: transparent;
                        padding         : 10px 15px;
                        margin          : 0;
                        border          : none;
                        font-size       : .8em;
                        transition      : .3s;

                        &:hover {
                            background-color: $blue;
                            color           : white;
                        }

                        &.isactive {
                            background-color: $blue;
                            color           : white;
                        }
                    }
                }

                .tabcontent {
                    display: none;

                    &.isactive {
                        display: block;
                    }

                    &::-webkit-scrollbar {
                        width: 6px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: rgba(128, 128, 128, 0.37);
                        border-radius   : 50px;
                        transition      : .3s;
                    }

                    &:hover::-webkit-scrollbar-thumb {
                        background-color: rgba(128, 128, 128, 0.788);
                        transition      : 1s;
                    }

                    padding   :20px;
                    height    : 300px;
                    overflow-y: scroll;

                    ul {
                        padding-right: 30px;

                        li {
                            padding    : 10px 0;
                            list-style : none;
                            position   : relative;
                            font-size  : .7em;
                            font-weight: 600;
                            color      : $blue;

                            &::before {
                                content  : url(https://www.ihcs.ac.ir/assets/bd23d51/images/icons/no-text-logo.png);
                                position : absolute;
                                right    : -30px;
                                transform: translateY(-50%);
                                top      : 50%;
                            }
                        }
                    }
                }
            }

            div.moarefi {
                border-radius: 15px;
                overflow: hidden;
                width: 300px;

                div.owl-carousel {
                    .owl-dots {
                        display        : flex;
                        justify-content: center;
                        align-items    : center;
                        padding-top    : 20px;

                        .owl-dot {
                            background-color: rgba(128, 128, 128, 0.541) !important;
                            padding         : 7px !important;
                            border-radius   : 50%;
                            margin          : 0 7px;

                            &.active {
                                background-color: $blue !important;
                            }
                        }
                    }

                    div.item {
                        display        : flex;
                        justify-content: flex-start;
                        align-items    : center;
                        flex-direction : column;
                        position       : relative;
                        height         : 340px;
                        border-radius: 15px;
                        overflow: hidden;
                        img {
                            height: 100%;
                        }

                        &:hover h4 {
                            padding-top: 100px;
                        }

                        h4 {
                            text-align      : center;
                            position        : absolute;
                            bottom          : -7px;
                            width           : 100%;
                            background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0));
                            padding-top     : 40px;
                            padding-bottom  : 20px;
                            color           : white;
                            font-size       : 1em;
                            transition      : .3s;
                        }
                    }
                }
            }

            div.taze {
                position: relative;
                border-radius: 15px;
                overflow: hidden;
                &:hover h5 {
                    padding-top: 100px;
                }

                h5 {
                    position        : absolute;
                    margin          : 0;
                    bottom          : 0;
                    right           : 0;
                    width           : 100%;
                    text-align      : center;
                    background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0));
                    color           : white;
                    padding         : 20px 0;
                    transition      : .3s;

                }
            }
        }
    }

    section#awards {
        padding         : 50px 0;
        background-color: #C9C9C9;

        h4 {
            text-align   : center;
            margin       : 0 auto;
            position     : relative;
            color        : $blue;
            margin-bottom: 60px;

            &::after {
                content         : "";
                width           : 200px;
                height          : 3px;
                border-radius   : 25%;
                background-color: $blue;
                position        : absolute;
                bottom          : -20px;

                transform: translatex(-50%);
                left     : 50%;
            }
        }

        div.cards {
            margin-top     : 40px;
            display        : flex;
            justify-content: space-around;

            div.award {
                display        : flex;
                flex-direction : column;
                align-items    : center;
                justify-content: center;

                p {
                    color     : $blue;
                    font-size : 1.1em;
                    margin-top: 15px;
                }

                span {
                    color    : $blue;
                    font-size: 2em;
                }
            }
        }
    }

    section#sites {
        background-color: $blue;
        padding         : 30px 0;

        div.owl-carousel {

            .owl-dot {
                display: none;
            }

            .owl-nav {
                position       : absolute;
                left           : 0;
                transform      : translateY(50%);
                bottom         : 50%;
                width          : 100%;
                display        : flex;
                justify-content: space-between;
                align-items    : center;

                span {
                    display         : inline-block;
                    font-size       : 3em;
                    background-color: rgba(255, 255, 255, 0.233);
                    width           : 30px;
                    transition      : .2s;

                    &:hover {
                        background-color: white;
                    }
                }
            }

            div.owl-item {
                text-align     : center;
                display        : flex;
                justify-content: center;
            }

            div.item {
                width     : 210px;
                text-align: center;

                h4 {
                    color    : white;
                    font-size: 1.2em;
                }

                img {
                    object-fit: cover;
                    width     : unset;
                    margin    : 0 auto;
                }
            }
        }
    }

    section#services {
        padding-bottom: 50px;

        h4 {
            margin-bottom: 40px;
            margin-top   : 60px;
            text-align   : center;
            color        : $blue;
            position     : relative;

            &::after {
                content         : '';
                width           : 100px;
                height          : 3px;
                border-radius   : 25%;
                position        : absolute;
                background-color: $blue;
                bottom          : -10px;
                transform       : translateX(-50%);
                left            : 50%;
            }

        }

     div.cards{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        a{
            display: block;
            width: 21%;
            margin-bottom: 1.5em;
            
            div.card{
                padding: .5em 0;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #2e134aaf;
                border: none;
                transition: .3s;
                &:hover{
                    background-color: #2e134a;
                }
                img{
                    width: 100px;
                    margin-bottom: 2em;
                }
                p{
                    color: white;
                }
            }
         }
     }
    }

    footer {
        background-color: $blue;
        padding         : 3em 0;

        div.container {
            display        : flex;
            justify-content: space-between;
            align-items    : center;

            div.relations {
                color: white;
                width: 25%;

                h4 {
                    font-size    : 1em;
                    font-weight  : 600;
                    margin-bottom: 2.5em;
                }

                a {
                    font-size : .8em;
                    display   : block !important;
                    padding   : .5em 0;
                    transition: .3s;

                    &:hover {
                        color: rgba(184, 184, 184, 0.849) !important;
                    }
                }
            }

            div.call {
                width: 30%;
                color: white;

                h4 {
                    font-size    : 1em;
                    font-weight  : 600;
                    margin-bottom: 2em;
                }

                p {
                    font-size: .9em;
                    display  : block !important;
                    padding  : .4em 0;

                    i {
                        margin-left: 8px;
                        font-size  : 1.2em;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    section#nashr {
        padding: 40px 0;

        div.container {
            flex-wrap: wrap;

            div.tabnews {
                width: 80% !important;
                order: 4;
                margin: 0 auto;
                margin-top: 20px;
            }

            div.moarefi {
                order: 2;
                width: 300px;
            }

            div.taze {
                order: 3;
            }

            div.taze1 {
                order: 1;
            }
        }
    }

    html {
        font-size: .8em;
    }
}